body {
    font-family: "Roboto";
}

h1 {
    font-family: "Consolas";
    font-style: italic;
}

h2 {
    font-family: "Consolas";
}

h3 {
    font-family: "Consolas";
}

.italics {
    font-style: italic;
}

.hide {
    display: none;
}