<!DOCTYPE html>
<html lang="en">
  <head>
    {%- if not is_production %}
    <!-- Allows app to use hot reloading -->
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    {%- endif %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    <script type="module" src="{{ asset('script.jsx') }}"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <div id="test"></div>
  </body>
</html>