<!DOCTYPE html>
<html lang="en">
  <head>
    {%- if not is_production %}
      <!-- Allows app to use hot reloading -->
      <script type="module" src="{{ asset('@vite/client') }}"></script>
      <script type="module">
        import RefreshRuntime from "{{ asset('@react-refresh') }}"
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
    {%- endif %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}" />
    <script type="module" src="{{ asset('scripts/script.jsx') }}"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <div id="react-trackers" habits="{{ habits }}">Loading...</div>

    <div id="react-reward-form">Loading...</div>

    <div id="react-reward-list" rewards="{{ rewards }}">Loading...</div>

    <div id="react-habit-form" rewards="{{ rewards }}">Loading...</div>

    <div id="react-habit-list" habits="{{ habits }}">Loading...</div>
  </body>
</html>